<div class="conteiner__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEf1Xtug-bbmYOf-b_cnp5kb1qTiQcotmNNhGEo3KQKJoDprShM0qhqqhIbTUEtgxg4Y&usqp=CAU" 
        alt="" 
        height="200px"
        width="300px"
        srcset="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Atualização do ranking de competidores de jui-jitsu</a></h1>
    </div>

    <div class="big-card__description">
         <p>
            <a href="#">Jiu-Jitsu é mais que um esporte; é uma arte marcial que traz inúmeros benefícios. 
                Desenvolve a força física, a flexibilidade e a resistência, enquanto aprimora a disciplina 
                e a concentração mental. Promove a autoconfiança e o controle emocional, ensinando técnicas de 
                defesa pessoal eficazes. Além disso, é uma ótima forma de reduzir o estresse, melhorar a saúde 
                cardiovascular e criar um senso de comunidade e respeito entre os praticantes. Em resumo, 
                Jiu-Jitsu transforma o corpo e a mente!</a>
         </p>
    </div>
</div>
