<div class="container__small-card">
    <div class="container__small-card-content">

    <div class="small-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEf1Xtug-bbmYOf-b_cnp5kb1qTiQcotmNNhGEo3KQKJoDprShM0qhqqhIbTUEtgxg4Y&usqp=CAU" 
        alt="" 
     
        srcset="">
    </div>

    <div class="small-card__title">
        <h3><a href="#">Atualização do ranking de competidores de jui-jitsu</a></h3>
    </div>
   </div>

   <div class="container__small-card__separator">
    <hr />
   </div>
 
</div>