
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1"
        photoCover="https://media.istockphoto.com/id/1168068032/pt/foto/de-la-riva-guard-in-brazilian-jiu-jitsu-bjj-training-sparring-two-female-women-athletes.jpg?s=1024x1024&w=is&k=20&c=Zwmvo3HU-BlycoaIPcLHyCNIDZP6JZuI3GjSkqnoBYQ="
        cardTitle="BENEFICIOS PARA O CORPO"
        cardDescriptiopn= "Jiu-Jitsu é mais que um esporte; é uma arte marcial que traz inúmeros benefícios. Desenvolve a força física, a flexibilidade e a resistência, enquanto aprimora a disciplina e a concentração mental. Promove a autoconfiança e o controle emocional, ensinando técnicas de defesa pessoal eficazes. Além disso, é uma ótima forma de reduzir o estresse, melhorar a saúde cardiovascular e criar um senso de comunidade e respeito entre os praticantes. Em resumo, Jiu-Jitsu transforma o corpo e a mente!"
        ></app-big-card>
    </div>

    <div class="article__others">
        <app-small-card
        Id="2"
        cardTitle="Flexibilidade e Mobilidade"
        photoCover="https://media.istockphoto.com/id/155282610/pt/foto/dois-homens-em-jiu-jitsu-forma%C3%A7%C3%A3o.jpg?s=1024x1024&w=is&k=20&c=ig7sWGAYKp_KEQ00G_4AFvK0Mqe12o1WbKiyl-ITe3c="
        
        >
        </app-small-card>

        <app-small-card
        Id="3"
        cardTitle="Força e Condicionamento"
        photoCover="https://images.pexels.com/photos/7045623/pexels-photo-7045623.jpeg?auto=compress&cs=tinysrgb&w=600"
        
        >
        </app-small-card>

        <app-small-card
        Id="4"
        cardTitle="Autoconfiança e Controle Emocional, Redução do Estresse"
        photoCover="https://images.pexels.com/photos/3310166/pexels-photo-3310166.png?auto=compress&cs=tinysrgb&w=600"

        >
        </app-small-card>
    
    </div>
</div>
