/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(19, 18, 18);
    color: white;

    font-family: 'Segoe UI';
}

a{
    text-decoration: none;
}

.rodape { 
    color: white; /* Define a cor da fonte como branca */ 
    font-size: 16px; /* Define um tamanho fixo para a fonte */ 
    text-align: center; /* Centraliza o texto dentro do rodapé */ 
    padding: 20px; /* Adiciona espaço interno */ 
    background-color: #333; /* Define uma cor de fundo para o rodapé */ }